*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
  outline: 0;
  text-decoration: none;
  cursor: default;
}

html {
  font-size: 50%; /* (8px/16px)X100% 50%*/
}
